apdev-examples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	
	<flow name="privateFlow" doc:id="7b878389-177a-4bc3-9d53-d23728596267" >
		<http:request method="GET" doc:name="GET /goodbye" doc:id="58c70a02-0b20-4af8-aed1-8c64a21027cd" config-ref="HTTP_Request_configuration" path="/goodbye">
			<http:query-params><![CDATA[#[output application/java
---
{
	"fullName" : attributes.queryParams.fname
}]]]></http:query-params>
		</http:request>
	</flow>
	<flow name="helloFlow" doc:id="abe9c10d-12f2-41bb-883e-c2d928bf9472" >
		<http:listener doc:name="GET /hello" doc:id="74c2862f-f329-42af-8806-eca7073f14b0" config-ref="HTTP_Listener_config" path="/hello" allowedMethods="GET">
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	"name" : vars.firstName
}]]]></http:headers>
			</http:response>
		</http:listener>
		<flow-ref doc:name="subFlow" doc:id="77760ca9-7cf4-4f3e-b487-b1a8d85fb1e0" name="subFlow"/>
		<vm:publish doc:name="Publish" doc:id="76ea5792-3ada-4b37-a30c-77cb2a5094b3" config-ref="VM_Config" queueName="goodbye"/>
		<logger level="INFO" doc:name="payload" doc:id="1946f25e-e2a1-4df2-bd06-91a40daa0588" message="#['\nMessage: '++ payload]"/>
	</flow>
	<sub-flow name="subFlow" doc:id="7e648ec5-e39c-402b-96b2-c66b8a9b8dba" >
		<set-variable value="#[mesaage.attributes.queryParams.fname]" doc:name="firstName" doc:id="a306536d-16f1-45bd-8ffc-e8bab311f080" variableName="firstName"/>
		<set-payload value="Hello" doc:name="Hello" doc:id="5fe43e56-8837-4daa-87a8-c4c6a272e7e5" />
	</sub-flow>
	<flow name="goodbyeFlow" doc:id="893509eb-96bc-48ab-b2b2-c8845d020998" >
		<vm:listener queueName="goodbye" doc:name="Listener" doc:id="878f0fe5-da99-4c61-a8a6-7fce616ea539" config-ref="VM_Config"/>
		<set-payload value="#[upper('Goodbye') ++ ' ' ++ (attributes.queryParams.fullName default 'Maxine')]" doc:name="Goodbye" doc:id="cda3427e-3eb8-4922-96c4-4506c8759d74" />
		<logger level="INFO" doc:name="fullName" doc:id="59bab115-9761-417a-8426-969a1272e8c4" message="#[attributes.queryParams.fullName]"/>
	</flow>
</mule>
